bs4
contractions
ipdb
jupyterlab
lxml
matplotlib
networkx
nltk
numpy
pandas
pathlib
pylint
pytest
seaborn
scikit-learn
scipy
tensorflow

#transformer
datasets
langdetect
wordcloud
textblob
spacy
lime
shap
gensim
rouge
keras
