pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
google-cloud-storage

#ML
tensorflow==2.9.2
transformers
datasets
rouge-score
nltk
torchvision

#front-end
uvicorn
fastapi
httpx
pytz
